:root {
    --dark-green: #006c84;
    --medium-green: #6eb5c0;
    --light-green: #e4faff;
    --white: #ffffff;
    --black: #000000;
    --accent-color: #ffccbb;
  }

.wrapper {
    position: relative;
}

.btn-primary {
    background-color: var(--dark-green) !important;
    color: var(--white) !important;
    border: none !important;
    padding: 10px 20px !important;
    border-radius: 5px !important;
    cursor: pointer !important;
    font-size: 16px !important;
    font-weight: bold !important;
    margin: 10px !important;
}

.btn-primary:hover {
    background-color: var(--medium-green) !important;
}

.image-size {
    width: 100%;
    height: auto;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1 {
    font-family: 'Montserrat', sans-serif;

}